# Activar RewriteEngine
RewriteEngine on
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  cliente/NOMBRE/
#   Salida: cliente.php?id=NOMBRE
RewriteRule ^cliente/(\w+)/?$ cliente.php?id=$1